html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}
code {
  font-family:source-code-pro,Menlo,Monaco,Consolas,'Courier New',monospace;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding:0;
  margin: 0;
}


@font-face {
    font-family:'c';
    src:url( '../../public/fonts/Circe/Circe.ttf')
}
@font-face {
  font-family: 'g';
  src: url('../../public/fonts/Geometria/Geometria.ttf');
}
@font-face {
  font-family: 'm';
  src: url('../../public/fonts/MarkProMed/MarkProMed.ttf');
}